.button {
  background-color: #009cdf;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 80px;
  width: fit-content;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0078b8;
}

.button:disabled {
  background-color: #999fa1;
  color: white;
  cursor: not-allowed;
}

.button-icon {
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.button-icon svg {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
}

.button-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 0;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  font-size: 14px;
  white-space: nowrap;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-text p {
  line-height: 16px;
  white-space: pre;
  margin: 0;
}
