.chip-container {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 60px;
  background-color: var(--chip-bg-color, #e0e0e0);
  color: var(--chip-text-color, #000);
  min-width: 84px;
}

.chip-container--fit-content {
  width: fit-content;
}

.chip-container--full-width {
  width: 100%;
}

.chip-content {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.chip-label {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
