.cost-text-container {
  display: flex;
  gap: 3px;
  align-items: baseline;
}

.cost-number {
  font-size: 16px;
  font-weight: semibold;
}

.cost-unit {
  font-size: 16px;

  line-height: 24px;
}

.cost-unit-per {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: uppercase;
}
