@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* Set Open Sans as default font for all elements in the package */
* {
  font-family: 'Open Sans', sans-serif;
}

.histogram-container {
  position: relative;
  height: auto;
  border: 3px solid #2C2F33;
   max-width: 54px;
}

.histogram-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.histogram-bar {
  position: relative;
}

.histogram-svg {
  display: block;
}

.histogram-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: 100%;
}

.histogram-value-container {
  text-align: center;
  width: 40px;
}

.histogram-value {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  margin: 0;
  display: block;
}

.histogram-unit {
  color: #000;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
  display: block;
}

.histogram-label {
  color: #6F6F6F;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  margin: 0;
  font-style: normal;
}