.production-unit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 64px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.16);
  padding-right: 24px;
}
.production-unit-content {
  display: flex;
  align-items: center;
  gap: 16px;
}
.production-unit-chip {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.production-unit-chip-name {
  color: #11161a;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}
.production-unit-switch-container {
  width: 156px;
}
