.production-unit-container-box {
  box-sizing: border-box;
  border-radius: 64px;
  width: 100%;
  background-color: white;
}
.production-unit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding-right: 24px;
}
.image-preview-label {
  position: absolute;
  bottom: 11px;
  width: 100%;
  text-align: center;
  font-size: 9px;
  color: white;
  font-weight: 900;
}
.image-preview-container {
  position: relative;
}
.production-unit-content {
  display: flex;
  align-items: center;
  gap: 16px;
}
.production-unit-chip {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 105px;
}
.production-unit-chip-name {
  color: #11161a;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}
.production-unit-energy-container {
  display: flex;
  align-items: center;
  gap: 4px;
}
.production-unit-switch-container {
  display: flex;
  width: 192px;
  align-items: center;
  gap: 8px;
}
.input-pa {
  color: #999;
  text-align: center;
  width: 35px;
  display: flex;
  flex-direction: column;
}
.input-pa-label {
  font-size: 12px;
  line-height: 10px;
}
.input-pa-value {
  font-size: 14px;
}
