.toggle-btns {
  width: 135px;
  display: flex;
  align-items: center;
  height: 40px;
}

.toggle-btn {
  width: 100%;
  height: 100%;
  padding: 6px 10px;
  transition: all 0.3s;
  border: 1px solid #009cdf;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  color: #009cdf;
  cursor: pointer;
  border-left: none;
  font-size: 14px;
}

.toggle-btn:first-child {
  border-left: 1px solid #009cdf;
}

.toggle-btn--first {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.toggle-btn--last {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.toggle-btn--active {
  background-color: #009cdf;
  color: white;
}

.toggle-btn:not(.toggle-btn--active):hover {
  background-color: #009cdf;
  color: white;
}

.toggle-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
